@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

@theme {
  /* Primary */

 --color-purple-600: hsl(238, 40%, 52%);
 --color-pink-400: hsl(358, 79%, 66%);           
 --color-purple-200: hsl(239, 57%, 85%);
 --color-pink-200: hsl(357, 100%, 86%);

  /* Neutral */

 --color-grey-800: hsl(212, 24%, 26%);
 --color-grey-500: hsl(211, 10%, 45%);
 --color-grey-100: hsl(223, 19%, 93%);
 --color-grey-50: hsl(228, 33%, 97%);
 --color-white: hsl(0, 100%, 100%);
}

.btn{
  @apply text-white bg-purple-600 hover:bg-purple-200 px-6 py-2 rounded-md font-medium cursor-pointer;
}

@layer components {
  /*Score Component*/
  /* Common style  */
  .score-container {
    @apply bg-grey-50 px-2 py-1.5 rounded-xl items-center gap-2;
  }

  /* Desktop Variant (Vertical) */
  .score-desktop {
    @apply hidden md:flex flex-col mr-4 self-start;
  }

  /* Mobile Variant (Horizontal) */
  .score-mobile {
    @apply flex md:hidden; /* Shows on mobile, hides on desktop */
  }

  .score-btn{
    @apply cursor-pointer p-2 transition-all;
  }

  .score-icon-path{
    fill: var(--color-purple-200);
    @apply transition-colors duration-200;
  }

  .group:hover .score-icon-path {
    fill: var(--color-purple-600);
  }

  .score-icon-active {
    fill: var(--color-purple-600);
  }
}